.bot{
    width:50vw;
    height:30vh;
    border:solid;
    margin:auto;
    text-align: center;
}

p {
    position: relative;
    width:500px;
    height:50px;
    margin: auto;
}

h1 {
    position: relative;
    margin:auto;
    font-size: 60px;
    border:solid;
    width:20%;
}
.expression {
    margin-bottom:10px;
}



